<div class="pagination_totals"></div>
<nav class="pagination_links">
    <a href="#prev" class="prev">&laquo; Previous</a>
    <span class="page_numbers"></span>
    <a href="#next" class="next">Next &raquo;</a>
</nav>